body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #fff;
  background: black;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: #fff;
  font-family: "Playfair Display", times, serif;
}

a.prof{
    color: #00BFFF;
}


.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 50px;
  border-width: 2px;
}

textarea.form-control {
  height: inherit;
}



body.offcanvas-open {
  position: relative;
  overflow: hidden;
}

body.offcanvas-open .site-wrap {
  -webkit-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  transform: translateX(-240px);
}

.offcanvas-toggle {
  position: fixed;
  z-index: 89;
  right: 20px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 25px;
  top: 20px;
  color: #2B2B2B;
  font-weight: bold;
}

.offcanvas-toggle:hover {
  color: #000;
  opacity: .7;
}

.offcanvas-toggle.light {
  color: #fff;
}

.offcanvas-toggle.light:hover {
  color: #fff;
  opacity: .7;
}

/*show the menu*/

.offcanvas_menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  margin-right: -240px;
  overflow: scroll;
  z-index: 100;
  width: 240px;
  background: #000;
  padding: 20px 30px;
}

.offcanvas_menu ul {
  margin: 0;
  padding: 0;
}

.offcanvas_menu ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

.offcanvas_menu ul li a {
  color: #fff;
  font-size: 18px;
}

.offcanvas_menu ul li a:hover {
  opacity: .5;
}

.offcanvas_menu ul li.active a {
  color: #fff;
}

.offcanvas_menu ul.social li {
  display: inline-block;
}

.offcanvas_menu ul.social li a {
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
}

.offcanvas_menu ul.social li a:hover {
  opacity: .5;
}

.offcanvas_menu ul.social li:first-child a {
  padding-left: 0;
}

main, aside {
  width: 100%;
}
/*the picture size*/
@media (min-width: 576px) {
  aside {
    width: 55%;
  }
}

@media (min-width: 576px) {
  main {
    width: 45%;
  }
}


aside {
  background-position: center center;
  background-size: cover;
  height: 400px;
  position: relative;
}

@media (min-width: 576px) {
  aside {
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
  }
}

main {
  float: left;
  padding-top: 7%;
  padding-right: 3%;
  padding-bottom: 7%;
  padding-left: 7%;
  position: relative;
}

.home-button {
  top: 30px;
  right: 40;
  color: #EAEAEA;
  font-size: 30px;
  position: absolute;
}




.resume-list {
  padding: 0;
  margin: 0;
}

.resume-list li {
  padding: 0;
  margin: 0 0 30px 0;
  display: block;
  list-style: none;
}

.resume-list li .date {
  color: #fff;
  opacity: .6;
}

.resume-list li h3 {
  color: #fff;
  font-size: 24px;
}




